tensorflow
flask
scikit-learn
numpy
pandas
joblib
pillow

*/*  dataset: for denosing autoencoder, you can use the Brain Tumor Segmentation (BraTS) dataset from Kaggle:
https://www.kaggle.com/datasets/andrewmvd/brain-tumor-segmentation-in-mri-brats-2015?resource=download */
